# Archivos y directorios generados por CMake
/build/
/bin/
/lib/
*.cmake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
install_manifest.txt
compile_commands.json

# Archivos de objeto y ejecutables
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib
*.pyd # Módulo de Python compilado

# Archivos de depuración
*.pdb
*.ilk

# Archivos de respaldo y temporales
*~
*.bak
*.swp
*.swo
.DS_Store
Thumbs.db

# Archivos específicos de IDEs (si se usaran)
.vscode/
.idea/
*.user
*.suo
*.vcproj.user
*.vcxproj.filters
*.vcxproj.user

# Archivos de log
*.log

# Entornos virtuales de Python
venv/
.venv/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pytest_cache/
.mypy_cache/
.ruff_cache/
