# Ignorar directorios de compilación y archivos generados
build/
dist/
*.egg-info/
__pycache__/
.pytest_cache/

# Archivos específicos de Python
*.pyc
*.pyd  # Módulo compilado de Python (Windows)
*.so   # Módulo compilado de Python (Linux/macOS)

# Archivos de CMake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
_CPack_Packages/

# Archivos de depuración y temporales
*.o
*.obj
*.lo
*.la
*.d
*.exe
*.dll # Si libwinpthread-1.dll es generada o copiada al directorio de salida
*.lib
*.exp

# Archivos de IDEs
.vscode/
.idea/
*.swp
*~

# Archivos de sistema operativo
.DS_Store
Thumbs.db